<html>

<head>
  <title>Guest Book</title>
  <link rel="stylesheet" href="css/guestBook.css" />
  <script src="js/displayLatestComments.js"></script>
</head>

<body>
  <h1><span><a href="homepage.html">&lt;&lt;</a></span>Guest Book</h1>
  <a href="/logout">logout</a>
  <h2>Leave a comment</h2>

  <form>
    <div class="name">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </div>

    <div class="comment">
      <label for="comment">Comment:</label>
      <textarea id="comment" name="comment" rows="3" cols="20"></textarea>
    </div>

    <div class="button">
      <button id="submit" type="button">Submit</button>
    </div>
  </form>

  <div class="comment" id="comments-area">__COMMENTS__</div>
</body>

</html>